// MEDIA QUERIES
$media-xsmall: 20em; // 320px
$media-small: 30em; // 480px
$media-medium: 48.063em; // 769px
$media-large: 64em; // 1024px
$media-xlarge: 80em; // 1280px
$media-xxlarge: 90em; //1440px
